// FOOTER
.ht-footer {
	text-align: center;
	ul li a,i {
		.text-Pink;
	}
	.pre-footer {
		background-color: @c-Blog;
		.center-box {
			.flex-content-center;
			align-items: center;
			height: 340px;
			.center-box-content {
				.flex-column-content(space-between);
				height: 215px;
				img {
					background-color: @c-Blog;
				}
				h4 {
					color: white;
					font-weight: 400;
				}
				p{
					color: @c-Footer-p;
				}
			}
		}
	}
	.footer {
		background-color: @c-Footer;
		padding: 40px;
		ul li a{
			.fa-square {
				color: #252525;
			}
		}
		p {
			color: @c-Gray;
			span {
				.text-Pink;
			}
		}
		
	}
}