// PAGE
//
@font-face {
	font-family: Brush-Script;
	src: url(../fonts/BrushScriptMT.ttf);
}

body, h1,h2, h3, h4, h5, h6 {
	font-family: @droid-serif;
}
html { font-size: 62.5%; }  /* =10px */
body { font-size: 1.4rem; } /* =14px */
h1   { font-size: 3.6rem; } /* =24px */
h2   { font-size: 3.0rem; }
h3   { font-size: 2.4rem; }
h4   { font-size: 1.8rem; }
h5,p   { font-size: 1.4rem; }
h6   { font-size: 1.2rem; }
.text-Pink {
	color: @c-Pink;
}
.text-Heading {
	font-family: @script;
	font-size: 7.2rem;
}
.background-Pink {
	background-color: @c-Pink;
	color: white;
}
.btn-Pink {
	.background-Pink;
	font-family: @droid-serif;
	&:focus, &:hover {
		background-color: white;
		.text-Pink;
		border-color: @c-Pink;

	}
}
.flex-column-content(@space) {
	display: flex;
	flex-direction: column;
	justify-content: @space;
}
a:hover {
	text-decoration: none;
}
// HERO
.menus {
	position: relative;
	.navbar {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 1;
	}
}

.hero {
	background-image:  url(../images/home/hero.jpg);
	background-position: center;
	background-size: cover;
	text-align: center;
	position: relative;
	.hero-text {
		color: white;
		padding: 350px 0 730px;
		-webkit-backdrop-filter: brightness(75%);
		h2 {
			font-family: Brush-Script;
		}
		h1 {
			font-size: 7.2rem;
			font-weight: 700px;
			display: inline-block;
			padding: 10px;
			margin: 25px 0;
			border-bottom: 5px solid white;
			border-top: 5px solid white;
		}		
	}
	.three-blocks {
		position: absolute;
		left: 0; right: 0;
		bottom: -415px;
		figure {
			background-color: @c-Blue;
			padding: 0;
			figcaption {
				h1 {
					color: white;
					font-family: @script;
					padding-top: 30px;
				}
				.block-content {
					height: 290px;
					box-sizing: border-box;
					border-top: 1px solid #ffffff;
					border-bottom: 1px solid #ffffff;
					padding: 25px 0;
					margin: 30px 50px;
					display: flex;
					flex-direction: column;
					justify-content: space-around;
					p {
						color: @c-Stone;
						line-height: 25px;
						span {
							.text-Pink;
						}
					}
					h5 a{
						.text-Pink;
						font-weight: 300;
						font-style: Italic;
					}
				}
			}
			&:nth-child(2){
				box-shadow: 0 0 10px black;
				background-color: @c-Blue-block;
				-webkit-transform: scale(1.03);
				z-index: 1;
			}
		}
	}
	margin-bottom: 415px;
}
.heading {
	text-align: center;
	h1 {
		.text-Pink;
		.text-Heading;
		font-style: Italic;
		padding: 10px;
	}
	h5 {
		font-weight: 400;
	}
}
.special-menu {
	.flex-column-content(space-around);
	height: 1000px;

	.iso-nav {
		ul {
			li {
				color: @c-Silver;
				font-family: @droid-serif;
				padding: 0 15px;
				&:hover {
					.text-Pink;
					cursor: pointer;
				}
			}
			.active {
				.text-Pink;
			}
		}
	}
	.grid {
		.grid-item {
			text-align: left;
			.flex-column-content(space-between);
			height: 545px;
			img {
				width: 100%;
				height: auto;
			}
			p {
				word-break: break-all;
			}
			.menus {
				color: @c-Pink;
				display: flex;
				justify-content: space-between;
				border-top: 2px dotted @c-Pink;
				border-bottom: 2px dotted @c-Pink;
				padding: 15px 0;
			}
			
		}
	}
}
	
.parallax {
	background-image: url(../images/home/parallax.jpg);
	background-position: center;
	background-size: cover;
	height: 750px;
}

.black-box {
	-webkit-backdrop-filter: brightness(50%);
	height: 100%;
	color: white;
	text-align: center;
	.flex-column-content(space-around);
	.heading-box {
		.flex-column-content(space-between);
		height: 125px;
		h1 {
			.text-Heading;
		}
		&:last-child {
			font-style: Italic;
		}
	}
}
.culinary-delight {
	background-image: url(../images/home/culinary-delight.jpg);
	background-position: center;
	background-size: cover;
	height: 550px;
.center-col {
	display: flex;
	justify-content: center;

	.heading-box {
		height: 260px;
		h2 {
			font-family: @script;
			font-style: Italic;
			font-weight: 400;
		}
	}
}
}



.discover-menu {
	.flex-column-content(space-around);
	height: 1200px;
	figure {
		.flex-box {
			.flex-column-content(space-between);
			height: 420px;
		}
	}
	article {
		.flex-column-content(space-around);
		height: 420px;
		padding: 0;
		.flex-box {
			.flex-column-content(space-between);
			height: 340px;
			text-align: center;
			h1 {
				.text-Heading;
				.text-Pink;
			}
			h5 {
				font-weight: 400;
			}
			p {
				padding: 0 30px;
			}	
		}
		
	}
}
