// PAGE
//
@font-face {
	font-family: Brush-Script;
	src: url(../fonts/BrushScriptMT.ttf);
}

body, h1,h2, h3, h4, h5, h6 {
	font-family: @droid-serif;
}
html { font-size: 62.5%; }  /* =10px */
body { font-size: 1.4rem; } /* =14px */
h1   { font-size: 3.6rem; } 
h2   { font-size: 3.0rem; }
h3   { font-size: 2.4rem; }
h4   { font-size: 1.8rem; }
h5,p   { font-size: 1.4rem; }
h6   { font-size: 1.2rem; }
.text-Pink {
	color: @c-Pink;
}
.text-Heading {
	font-family: @script;
	font-size: 7.2rem;
	@media screen and (max-width: 768px) {
		font-size: 5rem;
	}
}
.text-blog {
	color: @c-Silver-blog;
}
.text-blog-single {
	color: @c-Silver-blog-single;
}
.background-Pink {
	background-color: @c-Pink;
	color: white;
}
.btn-Pink {
	.background-Pink;
	font-family: @droid-serif;
	padding: 7px 27px;
	&:focus, &:hover {
		background-color: white;
		.text-Pink;
		border-color: @c-Pink;

	}
}
.flex-column-content(@space) {
	display: -webkit-flex;
	-webkit-flex-direction: column;
	-webkit-justify-content: @space;
}
.flex-justify-content(@align) {
	display: -webkit-flex;
	-webkit-justify-content: @align;
}
input {
	-webkit-appearance: none;
	-moz-appearance: none;
    appearance: none;
}
a:hover {
	text-decoration: none;
}
i {
	padding-right: 5px;
}

// HERO
.menus {
	position: relative;
	.navbar {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 1;
	}
}

.hero {
	background-image:  url(../images/home/hero.jpg);
	background-size: cover;
	text-align: center;
	position: relative;
	.hero-text {
		color: white;
		padding: 350px 0 735px;
		-webkit-backdrop-filter: brightness(75%);
		h2 {
			font-family: Brush-Script;
		}
		h1 {
			font-size: 7.2rem;
			font-weight: 700px;
			display: inline-block;
			padding: 10px 0;
			margin: 25px 0;
			border-bottom: 5px solid white;
			border-top: 5px solid white;
		}		
	}
	.three-blocks {
		position: absolute;
		left: 0; right: 0;
		top: 900px;
		figure {
			background-color: @c-Blue;
			padding: 0 0 20px;
			margin-bottom: 40px;
			figcaption {
				h1 {
					color: white;
					font-family: @script;
					padding-top: 30px;
				}
				.block-content {
					height: 290px;
					border-top: 1px solid #ffffff;
					border-bottom: 1px solid #ffffff;
					padding: 30px 0;
					margin: 30px 50px;
					.flex-column-content(space-around);
					p {
						color: @c-Stone;
						line-height: 25px;
						span {
							.text-Pink;
						}
					}
					h5 a{
						.text-Pink;
						font-weight: 300;
						font-style: Italic;
					}
					@media screen and (max-width: 768px) {
						margin: 30px;

					}
				}
			}
			&:nth-child(2){
				box-shadow: 0 0 15px black;
				background-color: @c-Blue-block;
				-webkit-transform: scale(1.03);
				z-index: 1;
			}
		}
	}
	margin-bottom: 430px;
	@media only screen and (max-width: 768px) {
		margin-bottom: 1800px;	
	}
}
.heading {
	text-align: center;
	h1 {
		.text-Pink;
		.text-Heading;
		font-style: Italic;
		padding: 10px;
	}
}
.special-menu {
	padding: 100px 0;
	.iso-nav {
		ul {
			margin: 40px 0;
			li {
				color: @c-Silver;
				font-family: @droid-serif;
				padding: 0 15px;
				&:hover {
					.text-Pink;
					cursor: pointer;
				}
			}
			.active {
				.text-Pink;
			}
		}
	}
	.grid {
		.grid-item {
			text-align: left;
			margin: 20px auto;
			img {
				width: 100%;
				height: auto;
			}
			h4 {
				padding: 25px 0;
			}
			p {
				word-break: break-all;
			}
			.menus {
				color: @c-Pink;
				.flex-justify-content(space-between);
				border-top: 2px dotted @c-Pink;
				border-bottom: 2px dotted @c-Pink;
				padding: 15px 0;
				margin: 20px 0;
			}
			
		}
	}
}
	
.parallax {
	background-image: url(../images/home/parallax.jpg);
	background-position: center;
	background-size: cover;
}

.black-box {
	-webkit-backdrop-filter: brightness(50%);
	color: white;
	text-align: center;
	.flex-column-content(space-around);
	.heading-box {
		padding: 300px 0;
		h1 {
			.text-Heading;
			padding: 10px 0;
		}
	}
}
.portfolio {
	background-image: url(../images/home/culinary-delight.jpg);
	background-position: center;
	background-size: cover;
	.center-box {
		.flex-justify-content(center);
		.heading-box {
			padding: 140px 0;
			h2 {
				font-family: @script;
				font-weight: 400;
				padding: 35px 0;
			}
		}
	}
}



.grid-menu {
	padding: 50px 0;
	.discover-menu,
	.culinary-delight {
		padding: 50px 0;
	}
	figure {
		.flex-box {
			.flex-column-content(space-between);
			height: 420px;
		}
	}
	article {
		padding: 20px 0;
			text-align: center;
			h1 {
				.text-Heading;
				.text-Pink;
				padding: 20px 0;
			}
			h5 {
				font-weight: 400;
			}
			p {
				padding: 40px 70px;
				@media only screen and (max-width: 768px) {
					padding: 40px 20px;
				}
			}	
		
	}
	.culinary-delight {
		@media only screen and (max-width: 768px) {
			display: -webkit-flex;
			-webkit-flex-wrap: wrap-reverse;
		}
	}
}
.blog-home {
	padding: 100px 0;
	.blog-content {
		padding: 30px 0;
		.flex {
			@media only screen and (max-width: 768px) {
				display: -webkit-flex;
				-webkit-flex-wrap: wrap-reverse;
			}
		}
	}
	.container {
		padding: 15px 0;
	}
	article {
		h6 {
			color: @c-Silver;
			font-weight: 400;
			padding: 30px 0;
		}
		h4 {
			padding-bottom: 10px;
		}
		span {
			margin: 20px 0;
			a {
				font-size: 1.4rem;
			}
		}
		p {
			padding: 10px 0;
		}
		a {
			.text-Pink;
			&:hover {
				color: @c-Gray;
			}
		}
		>a {
			font-weight: 700;
			font-size: 1.2rem;
		}
	}
	div {
		a {
			&:hover {
				.text-Pink;
			}
		}
	}
}

.menu {
	.menu-hero {
		.hero-text {
			padding: 160px 0 100px;
			h1 {
				font-size: 4.8rem;
			}
		}
		margin-bottom: 0;
	}
}

.navbar-inverse {
	background-color: @c-Blog;
	height: 100px;
}
.blog-heading {
	margin-top: 100px;
	text-align: center;
	h1 {
		.text-Heading;
	}
	ul li {
		padding: 20px;
	}
}
.blog {
	.posts,
	.sidebar,
	.single-post {
		padding: 100px 15px;
	}
	.posts {
		article {
			padding-bottom: 30px;
		}
		h5 {
			padding: 15px 0;
			font-weight: 400;
			line-height: 25px;
			a {
				color: black;
			}
		}
		p {
			word-break: break-all;
		}
		ul {
			.text-blog;
			li {
				padding-right: 40px;
			}

		}
		.quote {
			border: 1px solid @c-Silver-blog;
			padding: 20px 30px;
			a {
				.text-blog;
				word-break: break-all;
				&:hover {
					.text-Pink;
				}
			}
			h4 {
				font-weight: 400;
				word-break: break-all;
				line-height: 30px;
			}
			p {
				padding-top: 30px;
			}
			margin-bottom: 50px;
		}
	}

	.sidebar {
		h5 {
			font-weight: 400;
		}
		.search {
			padding: 0;
			input {
				margin: 20px 0 40px 0;
				&::-webkit-input-placeholder {
					width: 100%;
					font-style: Italic;
					.text-blog;
					.flex-justify-content(space-between);
					&:after {
						content: url(../images/blog/search-icon.jpg);
					}
				}
				&:focus {
						border-color: @c-Pink;
					}
			}
		}
		ul {
			padding: 10px 0;
			li {
				padding: 5px 0;
				a {
					.text-blog;
				}
			}
		}
		.recent-post {
			ul li {
				a {
					position: relative;
					overflow: hidden;
					&:before {
						position: absolute;
						height: 3px;
						width: 8px;
						top: 25%;
						left:-20px;
						content: '';
						background-color: black;
						-webkit-transition: -webkit-transform 0.35s;
	        			-webkit-transform: translate3d(-100%,0,0);
	        			opacity:0;
		        	}
		        }
				&:hover {
					a {
						color: black;
						&:before {
							-webkit-transform: translate3d(0,0,0);
							opacity: 1;
	 					}
	 				}

				}
			}
		}
		.calendar {
			h5 {
				margin: 30px 0;
			}
			.table {
				caption {
					color: black;
					text-align: center;
					padding: 20px 0;
					border-top: 1px solid @c-Calendar-border;
					border-bottom: 1px solid @c-Calendar-border;
				}
				th {
					text-align: center;
					padding: 20px 0;
					margin: 20px 0;
					border-bottom: 1px solid @c-Calendar-border;
				}
				tbody {
					td {
						color: @c-Calendar-light;
						line-height: 25px;
						padding: 0 10px;
						text-align: center;
						border: none;
						.active {
							border: 1px solid black;
							border-radius: 50%;
							color: @c-Calendar-dark;
						}
						@media screen and (max-width: 768px) {
							padding: 0 5px;
						}
					}
					&:before {
						line-height:20px;
						content:"\200C";
						display:block;
					}

				}
			}
		}
	}
	.single-post {
		color: black;
		.body-text {
			.para {
				padding: 15px 0;
				p {
					padding: 10px 0;
				}
			}
			p {
				word-break: break-all;
			}
			blockquote {
				.text-blog-single;
				border-color: @c-Pink;
				font-weight: 700;

			}
			ul {
				list-style: square inside;
				li {
					padding: 10px;
				}
			}
		}
		.flex-box {
			.flex-justify-content(space-between);
			padding: 30px 0;
			h5 {
				display: inline-block;
			}
			a {
				color: @c-Silver-blog-single;
			}
			.tags {
				a:hover {
					.text-Pink;
				}
			}
			.social {
				a:hover {
					color: black;
				}
				margin: 0;
			}
		}
		.author-box {
			.flex-justify-content(flex-end);
			padding: 30px 0;
			p {
				color: @c-Silver-blog-single;
			}
		}
		h4 {
			padding: 35px 0;
		}
		.comments {
			.comment-box {
				.flex-justify-content(flex-end);
				small {
					.text-blog-single;
				}
				p {
					word-break: break-all;
					padding: 20px 0;
				}
			}
		}
		hr {
			background-color: @c-Silver-blog-single;
		}
		form {
			label {
				.text-blog-single;
			}
			input,
			textarea{
				border-color: white;
				&:focus,
				&:hover {
					border-color: @c-Silver-blog-single;
					box-shadow: none;
				}
			}
			button {
				.text-blog-single;
				background-color: white;
				border-color: @c-Silver-blog-single;
				border-radius: 20px;
				margin: 40px 0;
				&:hover {
					.btn-Pink;
				}
			}
		}
	}
}











